* {
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #082040;
}
.container {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #082040;
}

.head {
    width: 100%;
    height: 7rem;
    display: flex;
    background-color: #1462A6;
}

.head p {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
}

.head a {
    text-decoration: none;
    color: rgb(29, 24, 24);
}

.head a:hover {
    color: white;
}

.head img {
    margin-top: -1rem;
    margin-left: 29rem;
    width: 10rem;
    height: 9rem;
}

.catego {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
}

.catego li {
    display: flex;
    column-gap: 15rem;
    width: 10rem;
    align-items: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteudo {
    width: 80%;
    margin-left: 10%;
    color: #79c1ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.categorias p {
    color: rgb(218, 218, 218);
    margin-left: -2.5rem;
    font-size: 15px;
}

.categorias {
    margin-top: 15rem;
    display: flex;
    height: 20rem;
}

.categorias li {
    display: flex;
    row-gap: 2rem;
    height: 2rem;
    font-size: 14px;
    margin-left: -2.5rem;
    margin-top: 0.4rem;
}

.categorias li:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.capa {
    width: 20rem;
    margin-top: 5rem;
    margin-left: 7rem;
}

.capaTwo {
    width: 20rem;
    margin-top: 5rem;
    margin-left: -0.5rem;
}

.person {
    width: 10rem;
    height: 9rem;
    margin-top: 3rem;
    margin-left: 5rem;
}

.slides {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    background-color: #1462A6;
}

.slides p {
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 2rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.principais {
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
    margin-left: 13rem;
    margin-top: -30rem;
}

.setaLeft {
    width: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
}

.setaRigth {
    width: 3rem;
    margin-top: 5rem;
    margin-left: -67rem;
}

.setaLeft:hover {
    cursor: pointer;
}

.setaRigth:hover {
    cursor: pointer;
}

.selects h1 {
    font-size: 20px;
    margin-left: 21rem;
    margin-top: 10rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select{
    display: flex;
    column-gap: 2rem;
    margin-left: 21rem;
    margin-top: 0.5rem;
    width: 61%;
}

.select img {
    width: 13rem;
}

.produtos img {
    display: flex;
    width: 7rem;
    justify-content: center;
    margin-top: 1rem;
}

.produtos div{
    display: flex;
    width: 9rem;
    height: 12rem;
    flex-direction: column;
    justify-content: center;
    background-color: #0036a3;
    border-radius: 5px;
}

.produtos{
    display: flex;
    width: 58rem;
    margin-left: 21rem;
    padding-top: 4rem;
    margin-top: 2rem;
    column-gap: 10rem;
    justify-content: center;
}

.produtos p {
    display: flex;
    margin-top: 1rem;
    color: white;
    background-color: #052666;
    width: 6rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}

.sonic{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roblox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sonic p{
    margin-left: 0.4rem;
}

.roblox p{
    margin-left: 0.4rem;
    margin-top: 2rem;
}

.editor p{
    margin-left: 0.4rem;
}

.afiliado h1 {
    width: 16rem;
    margin-left: 17rem;
    height: 3rem;
    color: white;
}

.afiliado {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    column-gap: 1rem;
}

.afiliado img {
    width: 3rem;
}

.afiliado ul {
    width: 8rem;
    height: 3rem;
    display: flex;
    list-style: none;
    margin-left: 40rem;
    margin-top: 11rem;
    border-radius: 8px;
    background-color: #05162c;
}

.afiliado ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rodape{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 10rem;
    margin-top: 6rem;
}

.rodape h1{
    margin: 0rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.visit{
    margin: 0rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 5rem;
    background-color: #031625;
    border-radius: 10px;
}

.rome{
    width: 7rem;
    border-radius: 50%;
}

.vogue{
    width: 1rem;
}

@media (max-width: 1655px) {
    .conteudo{
        margin-left: 1.5rem;
    }

    .head img{
        margin-left: 20rem;
    }
    
}

@media (max-width: 1400px){
    .person{
        margin-top: 1rem;
        width: 7rem;
        height: 7rem;
        justify-content: center;
    }

    .topsgames p{
        font-size: 22px;
        margin-top: 0.8rem;
    }

    .description{
        margin-left: -12rem;
    }

    .topsgames{
        margin-left: -1rem;
    }

    .capa, .capaTwo{
        width: 14rem;
    }

    .setaRigth {
        margin-left: -51rem;
    }

    .slides{
        width: 16rem;
        height: 14rem;
    }

    .select img {
        width: 10rem;
    }

    .select {
        margin-left: 19rem;
    }

    .selects h1 {
        margin-left: 19rem;
    }
    
    .produtos img{
        margin-left: 0.5rem;
    }

    .produtos p{
        margin-left: 1rem;
    }

    .produtos{
        margin-left: 19rem;
        width: 46rem;
        column-gap: 5rem;
    }

    .description p {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    .head img {
        margin-left: 15rem;
    }

    .description img {
        width: 13rem;
    }

    .description h1 {
        margin-left: -69rem;
    }

    .select img {
        width: 10rem;
    }

    .select {
        margin-left: 19rem;
    }

    .selects h1 {
        margin-left: 19rem;
    }

    .produtos{
        margin-left: 16rem;
    }

    .produtos div {
        width: 9rem;
    }

    .produtos img {
        width: 6rem;
    }
}

@media (max-width: 1180px){
    .head img {
        width: 7rem;
        height: 6rem;
        margin-top: 0.5rem;
        margin-left: 13rem;
    }

    .produtos img {
        margin-left: 1.5rem;
    }

    .sonic{
        width: 10rem;
    }

    .sonic{
        width: 10rem;
    }
    
    .sonic{
        width: 10rem;
    }

    .description img {
        width: 10rem;
        margin-left: 13rem;
    }

    .description h1 {
        margin-left: -63rem;
    }
}

@media (max-width: 1100px){
    .topsgames{
        margin-left: -3.5rem;
    }

    .selects {
        margin-left: -3rem;
    }

    .produtos img {
        margin-left: 1rem;
    }

    .produtos p{
        margin-left: 1.5rem;
        margin-top: 1rem;
    }

    .sonic{
        width: 10rem;
        height: 11rem;
    }

    .roblox {
        width: 10rem;
        height: 11rem;
    }

    .roblox img {
        margin-top: 0.7rem;
    }
    .editor {
        width: 10rem;
        height: 11rem;
    }
}

@media(max-width: 1075px){
    .select img {
        width: 8rem;
    }

    .topsgames{
        margin-left: -5rem;   
    }

    .selects{
        margin-left: -0.7rem;
    }

    .head img{
        width: 5rem;
        height: 5rem;
        margin-left: 4rem;
    }

    .principais img {
        width: 12rem;
    }

    .setaLeft, .setaRigth{
        display: none;
    }

    .slides {
        width: 12rem;
        height: 12rem;
        font-size: 1px;
    }

    .slides p {
        width: 15rem;
        font-size: 17px;
        margin-left: 1rem;
    }

    .slides img {
        width: 5rem;
        height: 5rem;
        margin-left: 3.5rem;
    }

    .selects{
        display: none;
    }

    .produtos{
        margin-left: 13rem;
        margin-top: 9rem;
        width: 40rem;
        column-gap: 4rem;
    }

    .rodape{
        margin-left: 0rem;
    }
}

@media(max-width: 910px){
    .head li{
        display: none;
    }

    .head img{
        margin: 0rem;
        width: 6.3rem;
        height: 5.5rem;
    }

    .head {
        justify-content: center;
        align-items: center;
    }

    .topsgames{
        margin: 0rem;
        margin-left: -16rem;
        width: 10rem;
        margin-top: -40rem;
    }

    .conteudo{
        margin-top: 5rem;   
    }

    .produtos{
        display: flex;
        flex-direction: column;
        width: 13rem;
        margin-left: 22rem;
        margin-top: 3rem;
        row-gap: 3rem;
    }

    .description {
        display: none;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .rodape h1{
        margin: 0rem;
    }
    .visit{
        margin: 0rem;
        margin-top: 3rem;

    }
}

@media(max-width: 740px){
    .topsgames{
        margin-left: -19rem;
    }

    .produtos{
        margin-left: 20rem;
    }
}

@media(max-width: 690px) {
    .capa, .capaTwo{
        width: 10rem;
        height: 9rem;
    }

    .slides{
        width: 10rem;
        height: 9rem;
    }

    .slides p{
        font-size: 14px;
    }

    .slides img {
        margin-left: 2.6rem;
        width: 4rem;
    }

    .produtos{
        margin-left: 15rem;
    }
}

@media(max-width:595px){
    .produtos{
        margin-left: 14rem;
    }

    .capaTwo{
        display: none;
    }

    .topsgames{
        margin-left: -18rem;
    }

    .conteudo p{
        font-size: 12px;
    }
    .conteudo li{
        font-size: 12px;
    }
    .produtos{
        margin-left: 12rem;
    }
}

@media(max-width: 480px){
    .container{
        background-color: rgb(10, 137, 141);
    }

    .topsgames{
        margin-left: -20rem;
    }
}

@media(max-width: 400px){
    .produtos{
        margin-left: 10rem;
        width: 10rem;
    }

    .topsgames{
        margin-left: -19rem;

    }
}

@media(max-width: 380px){
    .topsgames{
        margin-left: -19rem;
    }
}

@media(max-width: 415px){
    .produtos{
        width: 10rem;

    }

    .capa{
        width: 7rem;
        height: 7rem;
    }

    .slides{
        height: 7rem;
        width: 8rem;
    }

    .slides img {
        width: 2.8rem;
        margin-left: 2rem;
    }

    .slides p {
        font-size: 10px;
        margin-top: 0.6rem;
    }

    .visit{
        width: 98%;
    }
}

@media(max-width: 380px){
    .topsgames{
        margin-left: -20.5rem; 
    }

    .capa{
        width: 7rem;
        height: 7rem;
    }

    .slides{
        height: 7rem;
        width: 8rem;
    }

    .slides img {
        width: 2.8rem;
        margin-left: 2rem;
    }

    .slides p {
        font-size: 10px;
        margin-top: 0.6rem;
    }

    .visit{
        width: 98%;
    }
}

@media(max-width: 290px){
    .categorias{
        row-gap: 0rem;
        column-gap: 0rem;
        margin-left: -1rem;
    }

    .topsgames{
        flex-direction: column;
    }

    .slides{
        width: 6rem;
        height: 5rem;
        margin-left: 7rem;
    }

    .slides p {
        font-size: 8px;
        margin-left: 0.7rem;
    }

    .slides img {
        width: 2rem;
        margin-top: 0.3rem;
    }

    .disponivel{
        margin-top: -0.2rem;
    }

    .capa{
        width: 5rem;
        height: 5rem;
        display: none;
    }

    .categorias p{
        font-size: 10px;
    }
    .categorias li{
        font-size: 10px;
        margin-top: 0rem;
        row-gap: 0rem;
    }

    .produtos{
        margin-left: 5rem;
    }
}